@model SiteGen.Page

<html>
<head>
    <link href="Templates/Styles.css" rel="stylesheet" type="text/css">
    <title>@Model.SiteData.WindowPrefix - @(!string.IsNullOrEmpty(Model.WindowTitle) ? Model.WindowTitle : Model.Title)</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">

    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.7/styles/default.min.css">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.7/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>

    <!-- Parallax Header -->
    <script type="text/javascript">
        window.addEventListener("scroll", function (a, b) {
            var header = document.getElementById("header");
            var headerHeight = header.clientHeight;
            var scr = document.body.scrollTop;
            var ratio = scr / headerHeight;
            var minPos = 0.2;
            var newPos = minPos + ratio;
            if (newPos > 1) newPos = 1;
            var val = (newPos * 100) + '%';
            header.style["background-position-y"] = val;
            header.style["top"] = (0.1 * scr) + "px";
        });
    </script>
</head>

<body>
    <div id="header">
        <div id="header-text">
            @Model.WindowTitle
        </div>
    </div>

    <div id="header-menu">
        <ul>
            @foreach (var item in Model.SiteData.Menu)
            {
            <li><a href="@item.Url">@item.Caption</a></li>
            }
        </ul>
    </div>

    <div class="content-main">
        @if (!string.IsNullOrEmpty(Model.Title))
        {
            <h1>@Model.Title</h1>
        }
        
        @if (Model.Date.HasValue)
        {
            <div class="date-container">@Model.Date.GetValueOrDefault().ToString("MMM dd. yyyy")</div>
        }

        <div class="article-main">
            @Raw(Model.HtmlContent)
        </div>

    </div>

    <div class="footer">
        <div>
            <p>@Model.SiteData.FooterText</p>
            <ul>
                @foreach (var item in Model.SiteData.Menu)
                {
                    <li><a href="@item.Url">@item.Caption</a></li>
                }
            </ul>
        </div>
    </div>
</body>
</html>